doctype html
html(lang="en")
head
    title APFS - Minecraft Server
    meta(charset="UTF-8")
    //- Adapt page content to viewport
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- Include Bootstrap
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    //- Include Bootstrap bundle (which also includes popper.js) and JQuery slim
    script(src="/js/jquery.slim.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    //- Favicon
    link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

body(class="bg-primary")

//- Navigation bar
nav(class="navbar navbar-expand navbar-dark bg-dark")
  //- Navbar icon
  a(class="navbar-brand" href="/")
    img(src="/img/favicon.png" width="38" height="38")
  //- Left aligned items
  div(class="navbar-nav mr-auto")
    a(class="nav-item nav-link" href="/upload") Upload
    a(class="nav-item nav-link active" href="/mc") MC Server
    a(class="nav-item nav-link" href="https://github.com/very-amused") My GitHub 
    a(class="nav-item nav-link disabled") About
  //- Right aligned items
  div(class="navbar-nav ml-auto")
    //- Dropdown menu
    div(class="nav-item dropdown")
      button(class="btn btn-outline-success dropdown-toggle" type="button" id="accountsDropdown" data-toggle="dropdown") Accounts
      div(class="dropdown-menu dropdown-menu-right")
        a(class="dropdown-item" href="/accounts/create-account") Create an account
        a(class="dropdown-item disabled" href="/accounts/login") Login

//- Container div with horizontally centered content
div(class="container d-flex justify-content-center align-items-center flex-column")
  h3 My Minecraft Server
  p I run a minecraft server, and it's yours as much as it is mine. It currently has a robust multiverse system (multiple worlds) and big plans for a bunch of fun worlds in the future. We already have a survival world, with plans for two more on the way. Open to anyone interested, just join using the IP <code class="text-white">mc.apfs.xyz</code>
  | If you aren't convinced yet, have a look at some screenshots...
  //- Carousel of MC Screenshots
  div(class="carousel slide" id="screenshotCarousel")
    div(class="carousel-inner")
      //- Iteration for screenshots 1-13
      each val in [...Array(13).keys()].map(i => i + 1)
        if val === 1
          div(class="carousel-item active")
            img(class="d-block img-fluid" src="/img/mc/screenshot_" + val + ".png")
        else
          div(class="carousel-item")
            img(class="d-block img-fluid" src="/img/mc/screenshot_" + val + ".png")
    //- Carousel controls
    a(class="carousel-control-prev" href="#screenshotCarousel" role="button" data-slide="prev")
      span(class="carousel-control-prev-icon")
    a(class="carousel-control-next" href="#screenshotCarousel" role="button" data-slide="next")
      span(class="carousel-control-next-icon")
  //- Start the carousel with a 3 second time between changing slides
  script.
    $('.carousel').carousel({
      interval: 3000
    });
  
  p(style="margin-top: 2rem;") NOTE: If you have any ideas for this server (or just general feedback or constructive criticism), feel free to let me know at <a href="mailto:amused@apfs.xyz" class="text-light">amused@apfs.xyz</a>