html(lang="en")
head
    title Amused's Personal File Server - Create Account
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/login.css")

body
    nav(id="navbar")
            a(class="nav-item" href="https://apfs.xyz") Home
            a(class="nav-item" href="https://apfs.xyz") Upload
            a(class="nav-item nav-item-right") Login
    
    div(class="main")
        h1(class="title") Error:
        p(class="error-message") #{err}