html(lang="en")
head
    title Amused's Personal File Server - Upload Error
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/upload.css")

body
    nav(id="navbar")
        a(class="nav-item" href="https://apfs.xyz") Home
        a(class="nav-item" href="https://apfs.xyz") Upload
        a(class="nav-item nav-item-right") Login
    
    div(class="main")
        h1(class="title") Success!
        p(class="success-message") Your file has been successfully uploaded. It can be found
            | 
            a(href="https://cdn.apfs.xyz/uploads/" + filename_) here.