doctype html
html(lang="en")
include ../../mixins/head.pug
+head('APFS - Create Account')
//- Script for verifying password
script(src="/js/verifyPassword.js")

body(style="background-image: url(\"/img/light/bg.png\")")

include ../../mixins/light/navbar.pug
+navbar()

//- Container div with horizontally centered content
div(class="container d-flex align-items-center flex-column")
  h1(class="display-4 mt-3") Create an Account
  //- Alert (hidden by default)
  div(class="alert alert-danger d-none" role="alert")
    span Passwords do not match!
    //- X button to close alert
    button(class="close ml-2" data-dismiss="alert" type="button")
      span &times;
  //- Account creation form
  form(class="d-flex align-items-center flex-column" action="/API/create-account" onsubmit="return verifyPassword()" method="POST")
    div(class="form-group")
      label(for="email") Email address:
      input(class="form-control" id="email" type="email" disabled)
    div(class="form-group")
      label(for="password") Password:
      input(class="form-control" id="password" type="password" disabled)
    div(class="form-group")
      label(for="confirm-password") Confirm password:
      input(class="form-control" id="confirm-password" type="password" disabled)
    button(type="submit" class="btn btn-success" disabled) Submit
    p(class="text-break") I apologize for any inconveniences, but at the moment account registration is currently down due to backend maintenance.
    //- TODO: Add information about what accounts can be used for to the right of the creation form