doctype html
html(lang="en")
include ../../mixins/head.pug
+head('APFS - Create Account')

body(style="background-image: url(\"/img/light/bg.png\")")

include ../../mixins/navbar.pug
+navbar()

//- Container div with horizontally centered content
div(class="container d-flex align-items-center flex-column")
  h1(class="display-4 mt-3 text") Create an Account
  //- Box containing login form
  div(class="container-fluid d-flex justify-content-center flex-column rounded bg shadow mt-3" style="width: 45%; height: 35rem;")
    //- Alert (hidden by default)
    div(id="errorAlert" class="alert alert-danger alert-dismissible fade show m-3 d-none" role="alert")
    //- Account creation form
    form(id="accountForm" class="d-flex align-items-center flex-column" method="POST")
      div(class="form-group")
        label(class="text" for="email") Email address:
        //- Name attribute is used to refer to the input data after submission
        input(class="form-control" name="email" id="email" type="email" required)
      div(class="form-group")
        label(class="text" for="password") Password:
        input(class="form-control" name="password" id="password" type="password" required)
      div(class="form-group")
        label(class="text" for="passwordConfirmation") Confirm password:
        input(class="form-control" name="passwordConfirmation" id="passwordConfirmation" type="password" required)
      button(type="submit" class="btn btn-success btn-lg") Submit
    //- Success message
    div(id="successAlert" class="alert alert-success m-3 d-none" role="alert")
      //- TODO: Add information about what accounts can be used for to the right of the creation form

//- Frontend JS code
script(src="/js/create-account.js")

//- Theme switch
include ../../mixins/themeSwitch.pug
+themeSwitch()