doctype html
html(lang="en")
include ../../mixins/head.pug
+head('APFS - Create Account9')

body(class="bg-light")

include ../../mixins/navbar.pug
+navbar()

//- Container div with horizontally centered content
div(class="container d-flex align-items-center flex-column jumbotron bg-light")
  h1(class="display-4 bg-light text-success") Success!
  p(class="h5 mt-2") Your account has been created and is currently awaiting email verification. An email has been sent to <code>#{email}</code>, use it to verify your account (don't forget to check your spam folder.)