doctype html
html(lang="en")
head
    title APFS - Create Account
    meta(charset="UTF-8")
    //- Adapt page content to viewport
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- Include Bootstrap
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    //- Include Bootstrap bundle (which also includes popper.js) and JQuery slim
    script(src="/js/jquery.slim.min.js")
    script(src="/js/bootstrap.bundle.min.js")
    //- Favicon
    link(rel="shortcut icon" type="image/png" href="/img/favicon.png")

body(class="bg-light")

//- Navigation bar
nav(class="navbar navbar-expand navbar-dark bg-dark")
  //- Navbar icon
  a(class="navbar-brand" href="/")
    img(src="/img/favicon.png" width="38" height="38")
  //- Left aligned items
  div(class="navbar-nav mr-auto")
    a(class="nav-item nav-link" href="/upload") Upload
    a(class="nav-item nav-link active" href="/mc") MC Server
    a(class="nav-item nav-link" href="https://github.com/very-amused") My GitHub 
    a(class="nav-item nav-link disabled") About
  //- Right aligned items
  div(class="navbar-nav ml-auto")
    //- Dropdown menu
    div(class="nav-item dropdown")
      button(class="btn btn-outline-success dropdown-toggle" type="button" id="accountsDropdown" data-toggle="dropdown") Accounts
      div(class="dropdown-menu dropdown-menu-right")
        a(class="dropdown-item" href="/create-account") Create an account
        a(class="dropdown-item disabled" href="/login") Login

//- Container div with horizontally centered content
div(class="container d-flex align-items-center flex-column jumbotron bg-light")
  h1(class="display-4 bg-light text-success") Success!
  p(class="h5 mt-2") Your account has been created and is currently awaiting email verification. An email has been sent to <code>#{email}</code>, use it to verify your account (don't forget to check your spam folder.)