mixin navbar(activeItem)
  //- Navigation bar
  nav(class="navbar navbar-expand")
    //- Navbar icon
    a(class="navbar-brand" href="/")
      img(src="/img/favicon.png" width="38" height="38")
    //- Left aligned items
    div(class="navbar-nav mr-auto")
      a(id="upload" class="nav-item nav-link" href="/upload") Upload
      a(id="mc" class="nav-item nav-link" href="/mc") MC Server
      a(id="github" class="nav-item nav-link" href="https://github.com/very-amused") My GitHub 
      a(id="about" class="nav-item nav-link disabled") About
    //- Right aligned items
    div(class="navbar-nav ml-auto")
      //- Dropdown menu
      div(class="nav-item dropdown")
        button(class="btn btn-success dropdown-toggle" type="button" id="accountsDropdown" data-toggle="dropdown") Accounts
        div(class="dropdown-menu bg dropdown-menu-right")
          a(class="dropdown-item text" href="/accounts/create-account") Create an account
          a(class="dropdown-item disabled" href="/accounts/login") Login
  //- Add the active class to whichever item is specified
  script.
    const activeItem = "#{activeItem}";
    $(`#${activeItem}`).addClass('active');