doctype html
html(lang="en")
include ../mixins/head.pug
+head("APFS - Upload")

body(class="bg-primary")

include ../mixins/navbar.pug
+navbar("upload")

//- Container div with horizontally centered content
div(class="container d-flex align-items-center flex-column")
  //- Error message
  div(class="d-flex align-items-center flex-column jumbotron bg-danger rounded" style="margin-top: 2rem;")
    h1(class="text-white") An error was encountered while processing your file:
    h5(class="text-white") ERROR: #{err}
  //- Button to return home
  a(class="btn btn-dark btn-lg text-white" href="/") Click here to go home