doctype html
html(lang="en")
include ../mixins/head.pug
+head("APFS - Upload")

body(class="bg-primary")

include ../mixins/navbar.pug
+navbar("upload")

//- Container div/jumbotron with horizontally centered content
div(class="container jumbotron bg-primary d-flex align-items-center flex-column")
  //- Success message
  h1(class="jumbotron bg-primary text-white display-4") Your file was successfully uploaded!
  a(class="btn btn-lg bg-dark text-success" href="https://cdn.apfs.xyz/uploads/" + filename_) Click here to go to it