doctype html
html(lang="en")
include ./mixins/head.pug
+head("Amused's Personal File Server")

body(class="bg-primary")

include ./mixins/navbar.pug
+navbar()

//- Container div with horizontally centered content
div(class="container d-flex justify-content-center align-items-center flex-column")
  //- Jumbotron welcome message
  div(class="jumbotron bg-primary")
    h1(class="display-4") Welcome to Amused's Personal File Server
  //- Cover Image
  img(class="d-block img-fluid" src="/img/cover.png" alt="Cover Image")